body {
    background: #efefef;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #222;
    line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

ul, li {
    list-style-type: none;
    margin-left: 0;
}

/* Layout Properties */

.button {
    border-radius: 2px;
}

.header{
    background: #fff;
}

.headerImage {
    background-image: url(../img/156979600.jpg);
    background-position: 100px;
    height: 250px;
}

.headerTitleCta {
    margin: 2rem auto;
    border-radius: 2px;
}

#headerCtaButton {
    right: 0;
}

.cta {
    line-height: 3rem;
}

.ctaRow {
    margin-top: 4rem;
}

.darkBg {
    background: #222;
    height: auto;
}

.lightBg {
    background: #efefef;
    background: rgba(240, 240, 240, 0.93);
}

#teamMembersWrapper {
    padding-top: 1.2rem;
    min-height: 33rem;
}

/* font sizes/colors */
.textWhite {
    color: #fff;
}

.textLightGrey {
    color: #d7d7d7;
}

.textDarkGrey {
    color: #777;
}

.copy {
    font-size: 0.85rem;
}

.bold {
    font-weight: 700;
}

/* Header and Navigation */
#topNavigation, .auth {
    padding: 1.2rem 0 0;
}

.userActions, .teamActions {
    padding: 0.85rem 0 0;
}

.auth {
    position: relative;
    right: 0;
}

.navbar-right {
    float: right;
}

.register.navButton {
    margin-right: 0.85rem;
}

.large-12.form-signin {
    margin: 40px 0 0;
}

    .form-signin-heading {
        text-align: center;
    }
    .authForm .callout {
        border-radius: 2px;
        display: flex;
        padding: 0;
        border-color: #e00;
    }
    .small-1.alert {
        background: #ee0000;
        color: #fff;
        height: 100%;
        padding: 1.2rem;
    }
    .small-11.error p.alert {
        margin-top: 1.2rem;
    }
    .authForm {
        background: #fff;
        border-radius: 2px;
        border: 1px solid #d7d7d7;
        padding: 1.2rem;
    }
    .alert {
        color: #ee0000;
    }
    .signUpButton {
        margin: 0 auto;
        display: block;
    }
    a.button.navButton.hollow {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    .small-3.addUser, .small-3.addTeam {
        display: block;
        position: absolute;
        background: #fff;
        padding: 1rem;
        margin-top: -0.1rem;
        border: 1px solid #d7d7d7;
        border-radius: 2px;
    }
    .small-3.addUser.hide, .small-3.addTeam.hide {
        margin-top: -3000rem;
    }
    .arrowBoxTop {
        position: relative;
        background: #fff;
        border: 1px solid #d7d7d7;
    }
    .arrowBoxTop:after, .arrowBoxTop:before {
        bottom: 100%;
        left: 17%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .arrowBoxTop:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .arrowBoxTop:before {
        border-color: rgba(215, 215, 215, 0);
        border-bottom-color: #d7d7d7;
        border-width: 10px;
        margin-left: -10px;
    }

.footer {
    min-height: 10rem;
}

/* Main Content */

.container {
    min-height: 33rem;
}

img.logo {
    max-height: 90px;
}

/* General Form Elements */
.label {
    padding: 0;
    background: initial;
    color: initial;
}


/* User/Team Lists */

#teamsList li {
    padding: 0.5rem 0.5rem 0;
    margin: 0.3rem 0.3rem 0;
    display: table;
    float: left;
}
    .borderArrowRight {
        width: 0;
        height: 0;
        right: -35px;
        float: right;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #ffffff;
        position: relative;
    }
    .borderArrowBottom {
        width: 100%;
        height: 0;
        float: left;
        margin: 0 auto;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 20px solid #ffffff;
        position: relative;
    }
    #teamsList .userTeam {
        background: #fff;
        line-height: 37px;
    }
    #teamsList .userTeam:hover, #teamsList .userTeam.active {
        background: #d7d7d7;
    }
    #teamsList .userTeam:hover .borderArrowBottom, 
    #teamsList .userTeam.active .borderArrowBottom {
        border-top-color: #d7d7d7;
    }
    .listItem {
        display: flex;
    }
    .listItem .content {
        margin: 0;
        line-height: 18px;
        background: #fff;
        border-top: 1px solid #d7d7d7;
        padding: 20px;
        position: relative;
        top: -20px;
        width: 545px;
        left: -19px;
    }

#usersList li {
    display: block;
    float: left;
    height: 45px;
    border: 1px solid #d7d7d7;
    background: #fff;
    margin: 1.3rem 0.5rem 0.3rem 0  ;
    padding: 0.5rem;
    box-shadow: 0 #ccc;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
    #usersList li:hover {
        box-shadow: 0 0 5px 0 #ccc;
        border: 1px solid #999;
        height: 180px;
    }
    #usersList li>.userName {
        border-bottom: 0px solid transparent;
        margin-bottom: 0;
        transition: all, 0.5s ease-in-out;
    }
    #usersList li:hover>.userName {
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 10px;
        transition: all, 0.5s ease-in-out;
    }
    #usersList li .tiny.button.alert {
        border-radius: 2px;
        padding: 3px;
        margin: 0;
    }
    #usersList li .removeUser {
        visibility: hidden;
    }
    #usersList li:hover, #usersList li:hover .removeUser {
        overflow: hidden;
        visibility: visible;
        transition: all  0.3s ease-in-out;
    }
    #usersList li>span:not(:first-child), 
    #usersList li:hover>span:not(:first-child) a {
        color: #fff;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
        #usersList li>.userName {
        font-size: 1.3rem;
    }
        #usersList li>.userName>.inlineDetails {
            visibility: visible;
            font-size: 0.85rem;
            color: #999;
            transition: all 0.3s ease-in-out;
        }
        #usersList li:hover>.userName>.inlineDetails {
            color: #fff;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        #usersList li:hover>span:not(:first-child),  {
            visibility: visible;
            overflow: visible;
            color: #0a0a0a;
            transition: all 0.5s ease-in-out;
        }
            #usersList li:hover>span:not(:first-child)>a {
            visibility: visible;
            overflow: visible;
            color: #2199e8;
            transition: all 0.5s ease-in-out;
        }