<footer class="large-12 darkBg footer">
  <div class="row">
    <div class="large-4 columns float-left">
      &nbsp;
    </div>
      <div class="large-4 columns float-left">
      &nbsp;
    </div>
      <div class="large-4 columns float-left">
      <ul>
        <li class="social-item">
          <a id="git" href="https://github.com/keithnickas" target="_blank" class="gitHub-icon textDarkGrey" title="See my repository on GitHub.">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
          <a id="git" href="https://github.com/keithnickas" target="_blank" class="gitHub-icon textDarkGrey" title="See my LinkedIn profile.">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </li>
        <li class="social-item">
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="textDarkGrey copy large-12">
      copyright&copy; 2016, Keith Nickas.
    </div>
  </div>
</footer>