<div class="large-12 headerImage">
  <div class="row">
    <div class="medium-6 medium-centered large-6 large-centered columns lightBg headerTitleCta">
      <h1 class="title">Teams</h1>
      <h5 class="subheader textDarkGrey">Add, Find and manage users and teams easily.</h5>
      <a id="headerCtaButton" class="large button primary" href="#/register" role="button">Get started now!</a>
    </div>
  </div>
</div>
<div class="large-12">
  <div class="row ctaRow">
    <div class="large-4 columns">
      <h2 class="cta">Connect & Collaborate</h2>
      <p>Use simple app to manage your teams and users list from your PC, tablet, or phone.</p>
    </div>
    <div class="large-4 columns">
      <h2 class="cta">Get your voice back</h2>
      <p>No need to yell every 5 minutes. You can send a message to any team member with just a tap.</p>
    </div>
    <div class="large-4 columns">
      <h2 class="cta">Customers will<br/>love you</h2>
      <p>If they don't, let them eat cake!</p>
    </div>
  </div>
</div>