<div class="row">
    <div class="large-6 columns">
        <button class="button primary newUser"><i class="fa fa-user-plus"></i> New User</button>
        <button class="button primary"><i class="fa fa-plus"></i> Add Team</button>
    </div>
    <div class="large-6 columns"></div>
</div>
<script type="text/javascript">
$('.newUser').click(
  function()
  {
    if($('.addUser').hasClass('hide'))
    {
      $(this).addClass('active');
      $('.addUser').removeClass('hide').addClass('active');
    }
    else
    {
      $(this).removeClass('active');
      $('.addUser').removeClass('active').addClass('hide');
    }
  }
);
</script>